<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6">
                <h4 class="uppercase">#ConnectionDay</h4>
                <p class="small">Conecte-se, reinvente... A hora é agora</p>
                <ul class="list-unstyled list-inline uppercase">
                    <li>
                        <a href="https://www.facebook.com/connectionDay/" aria-label="Facebook">
                            <i class="fa fa-lg fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/p/BgWZWo2gQJO/" aria-label="Instagram">
                            <i class="fa fa-lg fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <h4 class="uppercase">FAQ</h4>
                <!--<p class="small">Etiam nec porta risus. Aliquam id odio orci. Duis accumsan feugiat feugiat.</p>-->

                <dl class="faqs">
                    <dt>Dúvidas?</dt>
                    <dd class="small">Entre em contato conosco pelo e-mail:
                        <a href="mailto:contato@connectionday.tech">contato@connectionday.tech</a>
                    </dd>

                    <dt>Quer ser um voluntário?</dt>
                    <dd class="small">Quer fazer parte de nossa equipe? estamos recebendo candidatos para participar
                        como voluntários.
                        Entre em contato pelo e-mail:
                        <a href="mailto:contato@connectionday.tech">contato@connectionday.tech</a>
                    </dd>

                    <dt>Quer ser um patrocinador?</dt>
                    <dd class="small">Colabore com este magnífico evento sendo um patrocinador e sua empresa ficará em
                        evidência. Entre
                        em contato pelo e-mail:
                        <a href="mailto:contato@connectionday.tech">contato@connectionday.tech</a>
                    </dd>
                </dl>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
            </div>
        </div>
    </div>
</footer>