<!-- PROGRAM -->
<section id="program" data-component="program">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="uppercase">{{ this.vm.title }}</h2>
        <p class="lead">{{ this.vm.subtitle }}</p>

        <!-- SCHEDULE TAB -->
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a
              href="#auditorio"
              id="auditorio-tab"
              role="tab"
              data-toggle="tab"
              aria-controls="auditorio"
              aria-expanded="true"
              >Auditório</a
            >
          </li>
          <li role="presentation" class="">
            <a
              href="#sala2"
              role="tab"
              id="sala2-tab"
              data-toggle="tab"
              aria-controls="sala2"
              aria-expanded="false"
              >Sala 2</a
            >
          </li>
          <li role="presentation" class="">
            <a
              href="#sala3"
              role="tab"
              id="sala3-tab"
              data-toggle="tab"
              aria-controls="sala3"
              aria-expanded="false"
              >Sala 3</a
            >
          </li>
        </ul>

        <!-- CONTENT -->
        <div id="myTabContent" class="tab-content">
          <!-- AUDITORIO -->
          <div
            role="tabpanel"
            class="tab-pane fade active in"
            id="auditorio"
            aria-labelledby="auditorio-tab"
          >
            <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default" *ngFor="let room of this.vm.room1; let i = index">
                <div class="panel-heading" role="tab" id="{{ room.heading }}">
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <p class="date">{{ room.time }}</p>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10">
                      <h4 class="panel-title">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="{{ room.id }}"
                          aria-expanded="true"
                        >
                          {{ room.title }}
                        </a>
                      </h4>
                    </div>
                  </div>
                </div>

                <div
                  id="{{ room.idItem }}"
                  class="panel-collapse collapse"
                  role="tabpanel"
                  *ngIf="room.showDetails"
                >
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2">
                        <img
                          class="img-responsive img-circle"
                          src="{{ this.speakers[room.speakerId].img }}"
                          alt=""
                        />
                      </div>

                      <div class="col-lg-10 col-md-10 col-sm-10">
                        <p class="speaker-name uppercase">
                          {{ this.speakers[room.speakerId].name
                          }}<span *ngIf="this.speakers[room.speakerId].linkedin != ''"
                            >&nbsp;-&nbsp;</span
                          ><a
                            *ngIf="this.speakers[room.speakerId].linkedin"
                            target="_blank"
                            href="{{ this.speakers[room.speakerId].linkedin }}"
                          >
                            <i class="fa fa-lg fa-linkedin-square"></i>
                            <span class="small">Linkedin</span>
                          </a>
                        </p>
                        <h4>{{ this.speakers[room.speakerId].lecture.title }}</h4>
                        <p [innerHTML]="this.speakers[room.speakerId].lecture.resume"></p>
                        <br /><br />
                        <p>
                          <i class="fa fa-lg fa-clock-o"></i>&nbsp;&nbsp;
                          <span class="small">{{
                            this.speakers[room.speakerId].lecture.duration
                          }}</span>
                        </p>
                        <p>
                          <i class="fa fa-lg fa-flag"></i>&nbsp;&nbsp;
                          <span class="small">
                            {{ this.speakers[room.speakerId].lecture.type }}
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- SALA 2 -->
          <div role="tabpanel" class="tab-pane fade in" id="sala2" aria-labelledby="sala2-tab">
            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default" *ngFor="let room of this.vm.room2; let i = index">
                <div class="panel-heading" role="tab" id="{{ room.heading }}">
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <p class="date">{{ room.time }}</p>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10">
                      <h4 class="panel-title">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="{{ room.id }}"
                          aria-expanded="true"
                        >
                          {{ room.title }}
                        </a>
                      </h4>
                    </div>
                  </div>
                </div>

                <div
                  id="{{ room.idItem }}"
                  class="panel-collapse collapse"
                  role="tabpanel"
                  *ngIf="room.showDetails"
                >
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2">
                        <img
                          class="img-responsive img-circle"
                          src="{{ this.speakers[room.speakerId].img }}"
                          alt=""
                        />
                      </div>

                      <div class="col-lg-10 col-md-10 col-sm-10">
                        <p class="speaker-name uppercase">
                          {{ this.speakers[room.speakerId].name }}
                          <span *ngIf="this.speakers[room.speakerId].linkedin">-</span>
                          <a
                            href="{{ this.speakers[room.speakerId].linkedin }}"
                            *ngIf="this.speakers[room.speakerId].linkedin"
                          >
                            <i class="fa fa-lg fa-linkedin-square"></i>
                            <span class="small">Linkedin</span>
                          </a>
                        </p>
                        <h4>{{ this.speakers[room.speakerId].lecture.title }}</h4>
                        <p [innerHTML]="this.speakers[room.speakerId].lecture.resume"></p>
                        <br /><br />
                        <p>
                          <i class="fa fa-lg fa-clock-o"></i>&nbsp;&nbsp;
                          <span class="small">{{
                            this.speakers[room.speakerId].lecture.duration
                          }}</span>
                        </p>
                        <p>
                          <i class="fa fa-lg fa-flag"></i>&nbsp;&nbsp;
                          <span class="small">
                            {{ this.speakers[room.speakerId].lecture.type }}
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- SALA 3 -->
          <div role="tabpanel" class="tab-pane fade in" id="sala3" aria-labelledby="sala3-tab">
            <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default" *ngFor="let room of this.vm.room3; let i = index">
                <div class="panel-heading" role="tab" id="{{ room.heading }}">
                  <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                      <p class="date">{{ room.time }}</p>
                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10">
                      <h4 class="panel-title">
                        <a
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="{{ room.id }}"
                          aria-expanded="true"
                        >
                          {{ room.title }}
                        </a>
                      </h4>
                    </div>
                  </div>
                </div>

                <div
                  id="{{ room.idItem }}"
                  class="panel-collapse collapse"
                  role="tabpanel"
                  *ngIf="room.showDetails"
                >
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2">
                        <img
                          class="img-responsive img-circle"
                          src="{{ this.speakers[room.speakerId].img }}"
                          alt=""
                        />
                      </div>

                      <div class="col-lg-10 col-md-10 col-sm-10">
                        <p class="speaker-name uppercase">
                          {{ this.speakers[room.speakerId].name }}
                          <span *ngIf="this.speakers[room.speakerId].linkedin">-</span>
                          <a
                            href="{{ this.speakers[room.speakerId].linkedin }}"
                            *ngIf="this.speakers[room.speakerId].linkedin"
                          >
                            <i class="fa fa-lg fa-linkedin-square"></i>
                            <span class="small">Linkedin</span>
                          </a>
                        </p>
                        <h4>{{ this.speakers[room.speakerId].lecture.title }}</h4>
                        <p [innerHTML]="this.speakers[room.speakerId].lecture.resume"></p>
                        <br /><br />
                        <p>
                          <i class="fa fa-lg fa-clock-o"></i>&nbsp;&nbsp;
                          <span class="small">{{
                            this.speakers[room.speakerId].lecture.duration
                          }}</span>
                        </p>
                        <p>
                          <i class="fa fa-lg fa-flag"></i>&nbsp;&nbsp;
                          <span class="small">
                            {{ this.speakers[room.speakerId].lecture.type }}
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
