<nav id="nav-primary" class="navbar navbar-custom" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
        <span class="sr-only">Mudar navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html"><img src="../../assets/img/logo.png" alt="logo"></a>
    </div>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="nav navbar-nav navbar-right uppercase">
        <li *ngIf="this.vm.enableAbout"><a data-toggle="elementscroll" href="#info">{{this.vm.titleSections.info}}</a></li>
        <li *ngIf="this.vm.enableSpeakers"><a data-toggle="elementscroll" href="#speakers">{{this.vm.titleSections.speakers}}</a></li>
        <!--<li *ngIf="this.vm.enableProgram"><a data-toggle="elementscroll" href="#program">{{this.vm.titleSections.program}}</a></li>-->
        <li *ngIf="this.vm.enableVenue"><a data-toggle="elementscroll" href="#venue">{{this.vm.titleSections.venue}}</a></li>
        <li *ngIf="this.vm.enableRegister"><a data-toggle="elementscroll" href="#register">{{this.vm.titleSections.register}}</a></li>
        <li><a data-toggle="elementscroll" target="_blank" href="https://conectados.connectionday.tech/connection-day-2018/">2018</a></li>
        <li><a data-toggle="elementscroll" href="#funfacts">O evento</a></li>
        <li *ngIf="this.vm.enableSponsors"><a data-toggle="elementscroll" href="#sponsors">{{this.vm.titleSections.sponsors}}</a></li>
        <li *ngIf="this.vm.enableBlog"><a data-toggle="elementscroll" href={{this.vm.urlBlog}}>{{this.vm.titleSections.blog}}</a></li>
        <li><a data-toggle="elementscroll" href={{this.vm.urlCodeConduct}}>{{this.vm.titleSections.conductCode}}</a></li>
      </ul>
    </div>

  </div>
</nav>