<section id="download" data-component="download">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-3">
            <img class="img-responsive" src="assets/img/download.png" alt="">
          </div>

          <div class="col-lg-8 col-md-8 col-sm-9">
            <h3 [innerHtml]="this.vm.title"></h3>
            <p>{{this.vm.text}}</p>
            <a class="button button-small button-line-dark" href={{this.vm.url4ForPapers}} target="_blank">Submeta aqui o seu tema</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>