<section id="speakers" data-component="speakers">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h2 class="uppercase">speakers</h2>
        <p class="lead">Nam pellentesque fringilla faucibus. Aliquam tortor ex, egestas porta eget, pretium
          at lorem.</p>
      </div>

      <app-speaker-detail id="popup" class="white-popup mfp-hide">
      </app-speaker-detail>

      <ul id="list-speaker" class="list-unstyled">

        <!-- SPEAKER 1 -->
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="img-responsive" src="assets/img/speaker1.png" alt="" />
              <figcaption>
                <span><a class="html-popup" href="#popup"><img class="img-responsive" src="assets/img/plus.png" alt=""></a></span>
              </figcaption>
            </figure>
            <div class="caption text-center">
              <h4>Stanley Willis</h4>
              <p class="company">Fermentum Co.</p>
            </div>
          </div>
        </li>

        <!-- SPEAKER 2 -->
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="img-responsive" src="assets/img/speaker2.png" alt="" />
              <figcaption>
                <span><a class="html-popup" href="#popup"><img class="img-responsive" src="assets/img/plus.png" alt=""></a></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Jane Richards</h4>
              <p class="company">Hipmunk</p>
            </div>
          </div>
        </li>

        <!-- SPEAKER 3 -->
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="img-responsive" src="assets/img/speaker3.png" alt="" />
              <figcaption>
                <span><a class="html-popup" href="#popup"><img class="img-responsive" src="assets/img/plus.png" alt=""></a></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Martin Pearson</h4>
              <p class="company">Kitten Co.</p>
            </div>
          </div>
        </li>

        <!-- SPEAKER 4 -->
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="img-responsive" src="assets/img/speaker4.png" alt="" />
              <figcaption>
                <span><a class="html-popup" href="#popup"><img class="img-responsive" src="assets/img/plus.png" alt=""></a></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Jessica Green</h4>
              <p class="company">Magna</p>
            </div>
          </div>
        </li>

        <!-- SPEAKER 5 -->
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="img-responsive" src="assets/img/speaker5.png" alt="" />
              <figcaption>
                <span><a class="html-popup" href="#popup"><img class="img-responsive" src="assets/img/plus.png" alt=""></a></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Herman Russell</h4>
              <p class="company">Zenquoace</p>
            </div>
          </div>
        </li>

        <!-- SPEAKER 6 -->
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="img-responsive" src="assets/img/speaker6.png" alt="" />
              <figcaption>
                <span><a class="html-popup" href="#popup"><img class="img-responsive" src="assets/img/plus.png" alt=""></a></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Joan Graves</h4>
              <p class="company">Howtech</p>
            </div>
          </div>
        </li>

        <!-- SPEAKER 7 -->
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="img-responsive" src="assets/img/speaker7.png" alt="" />
              <figcaption>
                <span><a class="html-popup" href="#popup"><img class="img-responsive" src="assets/img/plus.png" alt=""></a></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Peter Reid</h4>
              <p class="company">Ventolax</p>
            </div>
          </div>
        </li>

        <!-- SPEAKER 8 -->
        <li class="col-lg-3 col-md-3 col-sm-4">
          <div class="speaker">
            <figure class="effect-ming">
              <img class="img-responsive" src="assets/img/speaker8.png" alt="" />
              <figcaption>
                <span><a class="html-popup" href="#popup"><img class="img-responsive" src="assets/img/plus.png" alt=""></a></span>
              </figcaption>
            </figure>

            <div class="caption text-center">
              <h4>Tracey Curtis</h4>
              <p class="company">Zathmedia</p>
            </div>
          </div>
        </li>

      </ul>

      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <a id="loadmore" class="button button-small button-line-dark">load more</a>
      </div>

    </div>
  </div>
</section>