<section id="gallery">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h2 class="uppercase">gallery</h2>
        <p class="lead">Nam pellentesque fringilla faucibus. Aliquam tortor ex, egestas porta eget, pretium
          at lorem.</p>

        <div id="timeline" appSalvattore>
          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb1.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb2.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb3.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb4.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb5.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb6.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb7.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb8.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb9.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb10.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb11.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb12.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb13.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>

          <div class="item wrap">
            <img class="img-responsive" src="assets/img/thumb14.png" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/img/gallery-img.jpg" title="<h4>Sed at rutrum felis</h4>Curabitur nec metus tempor, malesuada quam a, laoreet urna."><i
                  class="pe-3x pe-7s-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>