<section id="gallery">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h2 class="uppercase">{{this.vm.title}}</h2>
        <p class="lead">{{this.vm.text}}</p>

        <div id="timeline" appSalvattore>

          <div class="item wrap">
            <picture>
              <source srcset="assets/photos/thumb/video-thumb.jpg" type="image/webp">
              <source srcset="assets/photos/thumb/video-thumb.jpg" type="image/jpg">
              <img class="img-responsive" src="video-thumb.jpg" alt="">
            </picture>
            <div class="overlay"></div>
            <div class="icon">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=XmNk3FUHKvE" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3656.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3656.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3658.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3658.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3665.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3665.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3668.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3668.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3669.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3669.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3680.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3680.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3682.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3682.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3683.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3683.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3688.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3688.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3693.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3693.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap">
            <img class="img-responsive" src="assets/photos/thumb/100_3697.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3697.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3708.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3708.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3709.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3709.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3710.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3710.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3712.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3712.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3716.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3716.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3717.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3717.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3723.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3723.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3729.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3729.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3731.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3731.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3733.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3733.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3738.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3738.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3746.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3746.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3750.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3750.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3758.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3758.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3768.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3768.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3769.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3769.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3772.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3772.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3790.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3790.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3811.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3811.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3819.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3819.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3823.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3823.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3830.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3830.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3833.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3833.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3835.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3835.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3838.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3838.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3840.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3840.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3842.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3842.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3843.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3843.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3844.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3844.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3845.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3845.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3846.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3846.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3847.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3847.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3849.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3849.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3850.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3850.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3851.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3851.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3852.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3852.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3853.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3853.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3854.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3854.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3856.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3856.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/100_3858.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/100_3858.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/20180414_073745.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/20180414_073745.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/20180414_111500.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/20180414_111500.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
          <div class="item wrap" [hidden]="loadMoreActive">
            <img class="img-responsive" src="assets/photos/thumb/20180414_111757.jpg" alt="">
            <div class="overlay"></div>
            <div class="icon">
              <a class="image-popup" href="assets/photos/20180414_111757.jpg" title="">
                <i class="pe-3x pe-7s-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 text-center" *ngIf="loadMoreActive">
        <a class="button button-small button-line-dark" (click)="seeAllImages()">Ver mais ...</a>
      </div>
    </div>
  </div>
</section>