<!-- INFO -->
<section id="info">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 text-center">
        <h1>{{this.vm.title}}</h1>
        <p class="lead" [innerHTML]="this.vm.text"></p>
      </div>

      <div class="col-lg-10 col-lg-offset-1 col-md-12 text-center">
        <div class="row">

          <div class="feature col-lg-4 col-md-4 col-sm-4" *ngFor="let itemInfo of this.vm.items; let i = index">
            <i [ngClass]="itemInfo.class"></i>
            <h4>{{itemInfo.title}}</h4>
            <p>{{itemInfo.text}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>