<!-- INFO -->
<section id="info">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 text-center">
        <h1>#Eventr'15</h1>
        <p class="lead">Sed condimentum tempus auctor. Etiam euismod dapibus odio eu congue.<br>Maecenas
          eros lacus, tempus et pulvinar ac, commodo eget lacus. Curabitur ex non mi suscipit varius.<br>Phasellus
          ante lorem, sollicitudin quis erat sit amet, ultrices purus.</p>
      </div>

      <div class="col-lg-10 col-lg-offset-1 col-md-12 text-center">
        <div class="row">

          <div class="feature col-lg-4 col-md-4 col-sm-4">
            <i class="pe-4x pe-7s-refresh-2"></i>
            <h4>New Topics</h4>
            <p>Sed facilisis justo risus viverra vulputate. Mauris vel ipsum diam condimentum tempus
              purus.</p>
          </div>

          <div class="feature col-lg-4 col-md-4 col-sm-4">
            <i class="pe-4x pe-7s-micro"></i>
            <h4>2 Keynote Speakers</h4>
            <p>Sed facilisis justo risus viverra vulputate. Mauris vel ipsum diam condimentum tempus
              purus.</p>
          </div>

          <div class="feature col-lg-4 col-md-4 col-sm-4">
            <i class="pe-4x pe-7s-headphones"></i>
            <h4>Multilingual Support</h4>
            <p>Sed facilisis justo risus viverra vulputate. Mauris vel ipsum diam condimentum tempus
              purus.</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>