<app-preload></app-preload>
<app-navbar></app-navbar>
<app-slider></app-slider>
<app-highlight></app-highlight>
<app-info *ngIf="this.vm.enableAbout"></app-info>
<app-funfacts></app-funfacts>
<app-speakers *ngIf="this.vm.enableSpeakers"></app-speakers>
<app-program *ngIf="this.vm.enableProgram"></app-program>
<app-download *ngIf="this.vm.enableDownload"></app-download>
<app-venue *ngIf="this.vm.enableVenue"></app-venue>
<app-register *ngIf="this.vm.enableRegister"></app-register>
<app-gallery *ngIf="this.vm.enableGallery"></app-gallery>
<app-testimonial></app-testimonial>
<app-sponsors *ngIf="this.vm.enableSponsors"></app-sponsors>
<app-footer *ngIf="this.vm.enableFooter"></app-footer>