<section id="venue" data-component="venue">

  <div class="venue">
    <div class="venue-inner">
      <div class="container">
        <div class="row">

          <div class="col-lg-8 col-md-8 col-sm-8">
            <h2 class="uppercase">{{this.vm.title}}</h2>
            <p class="lead">{{this.vm.descriptionVenue}} </p>
            <h4>{{this.vm.nameVenue}}</h4>
            <img class="img-responsive" src="{{this.vm.venueLogo}}" alt="Faculdade Pitágoras Divinópolis">
          </div>

          <div class="col-lg-4 col-md-4 col-sm-4">
            <i class="pe-4x pe-7s-map-2"></i>
            <h4 class="uppercase">{{this.vm.addressTitle}}</h4>
            <p>{{this.vm.addressLine1}}<br>
              {{this.vm.addressLine2}}<br>
              {{this.vm.addressLine3}}</p>

            <a class="button button-xsmall button-line-light" target="_blank" href="{{this.vm.urlMaps}}">Ver no mapa</a>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>