<section id="sponsors" data-component="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="uppercase">sponsors</h2>
        <p class="lead">Duis ut quam sed ex consectetur euismod. Aliquam et condimentum eros.</p>

        <div id="sponsors-carousel">

          <div class="sponsor">
            <img class="img-responsive" src="assets/img/sponsor1.png" alt="">
          </div>

          <div class="sponsor">
            <img class="img-responsive" src="assets/img/sponsor2.png" alt="">
          </div>

          <div class="sponsor">
            <img class="img-responsive" src="assets/img/sponsor3.png" alt="">
          </div>

          <div class="sponsor">
            <img class="img-responsive" src="assets/img/sponsor4.png" alt="">
          </div>

          <div class="sponsor">
            <img class="img-responsive" src="assets/img/sponsor5.png" alt="">
          </div>

        </div>

      </div>
    </div>
  </div>
</section>