<section id="sponsors" data-component="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="uppercase">{{this.vm.title}}</h2>
        <p class="lead">{{this.vm.subtitle}}</p>

        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
          <a class="button button-small button-line-dark" href="mailto:contato@connectionday.tech">Seja um dos nossos
            patrocinadores</a>
        </div>

        <div class="sponsors-carousel" *ngIf="this.vm.diamond.length > 0">
          <div class="sponsor">
            <img class="img-responsive" src="assets/img/sponsor1.png" alt="">
          </div>
          <br>
        </div>

        <div class="sponsors-carousel" *ngIf="this.vm.gold.length > 0">
          <div class="sponsor">
            <img class="img-responsive" src="assets/img/sponsor1.png" alt="">
          </div>
          <br>
        </div>

        <div class="sponsors-carousel" *ngIf="this.vm.silver.length > 0">
          <div class="sponsor">
            <img class="img-responsive" src="assets/img/sponsor1.png" alt="">
          </div>
          <br>
        </div>

        <div class="sponsors-carousel" *ngIf="this.vm.bronze.length > 0">
          <div class="sponsor">
            <img class="img-responsive" src="assets/img/sponsor1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>