<section id="funfacts" data-component="funfacts">
  <div class="funfacts-inner">
    <div class="container">
      <div class="row">

        <h2 class="hidden">funfacts</h2>

        <div class="col-lg-10 col-lg-offset-1">
          <div id="funfacts-carousel">

            <div class="item" *ngFor="let factItem of this.vm.facts; let i = index">
              <i [ngClass]="factItem.class"></i>
              <div class="desc">
                <p class="number">{{factItem.number}}</p>
                <p class="description">{{factItem.description}}</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>